<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.7.9" targetFramework="net45" />
  <package id="LiveCharts.Wpf" version="0.7.9" targetFramework="net45" />
  <package id="MathNet.Numerics" version="3.12.0" targetFramework="net45" />
  <package id="Moserware.Skills" version="1.0.0.1" targetFramework="net45" />
  <package id="Moserware.Skills.Sample" version="1.0.0.0" targetFramework="net45" />
</packages>